*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
.dirstamp
config.h
config.h.in
*.o
stamp-h1
test-driver
tarweb
tarweb_test
tarweb_test.log
tarweb_test.trs
test-suite.log
/target
*.swp
